<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402468954693-0b9s7c50jais2ffvk0e7q2mujaqer0pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402468954693-0b9s7c50jais2ffvk0e7q2mujaqer0pg</string>
	<key>API_KEY</key>
	<string>AIzaSyB6gfZe9aFT7CKd9_Un9qNcsDfQ-BUs0v4</string>
	<key>GCM_SENDER_ID</key>
	<string>402468954693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.natavladimir</string>
	<key>PROJECT_ID</key>
	<string>chatswiftui-c91b2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatswiftui-c91b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402468954693:ios:cf4a8001b45b5e588e392c</string>
</dict>
</plist>